<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-span-1 text-center text-white pt-6 border-r-4 border-r-gray-800 ">
        <h2 class="text-2xl border-b-2 border-amber-600 inline-block">Genres</h2>
        <!-- we'll have to map over categories. Can use dummy data for now -->
         <ul class="pt-6 flex flex-col gap-4">
            <% genres.forEach((genre) => { %>
                <li class="flex justify-between items-center group px-4">
                    <a href="/genres/<%= genre.id %>" class="hover:text-amber-500">
                        <%= genre.category %>
                      </a>
                    <button type="submit" class="text-red-500 opacity-0 group-hover:opacity-100 cursor-pointer transition duration-200" title="Delete category">
                        <a href="/genres/delete/<%= genre.id %>">&times;</a>
                    </button>
                </li>
            <% }) %>
         </ul>

         <h2 class="text-2xl border-b-2 border-amber-600 inline-block mt-10">Developers</h2>
         <ul class="pt-6 flex flex-col gap-4">
            <% developers.forEach((dev) => { %>
                <li class="flex justify-between items-center group px-4">
                    <a href="/developers/<%= dev.id %>" class="hover:text-amber-500">
                        <%= dev.company %>
                      </a>
                    <button type="submit" class="text-red-500 opacity-0 group-hover:opacity-100 cursor-pointer transition duration-200" title="Delete developer">
                        <a href="/developers/delete/<%= dev.id %>">&times;</a>
                    </button>
                </li>
            <% }) %>
         </ul>
    </div>
</body>
</html>